@{
    ViewData["Title"] = "Registracija Uspešna";
}

<div class="text-center">
    <h1 class="display-4">Registracija je uspešno poslata!</h1>
    <p class="lead">
        Vaš zahtev za nalog je primljen. Moći ćete da se prijavite u sistem tek nakon što administrator odobri vaš nalog.
    </p>
    <hr />
    <p>
        <a asp-controller="Login" asp-action="Index" class="btn btn-primary">Nazad na stranicu za prijavu</a>
    </p>
</div>